.row
  .col-md-6
    %h2 Enroll New Student
  .col-md-6{:style=> "float: right; margin-top: 11px;"}
    = link_to "Back to list", student_subjects_path, class: "btn btn-warning"

= render partial: "form"